/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  font: "Helvetica"
}

/* STYLES */
/* Write your CSS below */

/* CLASS SELECTORS*/
.text-content{
  width: 550px;
  margin-left: 300px;
  margin-top: 100px;
}

.break-line{
  width: 50%
}

/* ID SELECTORS */
#header{
  color: white;
  height: 850px;
  background-image: url("../images/apple-pie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  text-justify: center;
}

#ingredients-list{
  list-style-type: "- ";
}

#cooking-info-img {
  justify-content: center;

}

#recipe-info-img {
  justify-content: center;
}